.container {
  flex-direction: row-reverse;
  width: 1200px;
  height: 450px;
}

.image {
  width: 540px;
  height: 450px;
  background-image: url(/images/image-header-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  height: 450px;
}

.content__header {
  text-align: left;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
